---
import Layout from '~/layouts/PageLayout.astro';
import { getCollection } from 'astro:content';

const servicii = await getCollection('servicii');
---

<Layout>
  {
    servicii.map((blogPostEntry) => (
      <li>
        <a href={`/servicii/${blogPostEntry.slug}`}>{blogPostEntry.data.title}</a>
      </li>
    ))
  }
</Layout>
